# Virtual environment folder
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Local databases or JSON storage we might make later
*.db
*.json 

# Conda environment files 
.conda/
conda-meta/

# VS Code specific settings & workspace state
.vscode/
.history/

.env
schedule.db

.DS_Store
Thumbs.db