# Virtual environment folder
venv/
.venv/

# Python cache files
__pycache__/
*.pyc

# Local databases or JSON storage we might make later
*.db
*.json 

# Conda environment files 
.conda/
conda-meta/

# VS Code specific settings & workspace state
.vscode/
.history/