{% extends "base.html" %}

{% block content %}
    {% if state == "startup" %}
        {% include "components/startup-card.html" %}

    {% else %}
        <div class="dashboard-layout">
            <aside class="dashboard-forms">
                {% include "components/form-fixed.html" %}
                {% include "components/form-flexible.html" %}
                
                <div class="grid-two-column">
                    {% include "components/list-fixed.html" %}
                    {% include "components/list-flexible.html" %}
                </div>

                {% include "components/notes.html" %}
            </aside>

            <main class="dashboard-main">
                {% include "components/schedule-timeline.html" %}
            </main>
        </div>
    {% endif %}
{% endblock %}