{% extends "base.html" %}

{% block content %}
    {% if state == "startup" %}
        {% include "components/startup-card.html" %}

    {% else %}
        <div class="app-container">
            <div class="split-layout">
                
                <div class="forms-column">
                    {% include "components/form-fixed.html" %}
                    {% include "components/form-flexible.html" %}

                    {% include "components/notes.html" %}
                </div>

                <div class="schedule-column">
                    {% include "components/schedule-timeline.html" %}
                </div>

            </div>
        </div>
    {% endif %}
{% endblock %}